* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(#7694fe, #4c7df8);
  }
  .container {
    background-color: #ebf2ff;
    width: 90%;
    max-width: 37.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.5em;
    padding: 2em;
    box-shadow: 0 1.87em 3.75em rgba(2, 14, 44, 0.2);
  }
  textarea {
    font-size: 1em;
    width: 100%;
    border-radius: 0.5em;
    padding: 1em;
    resize: none;
    border: 0.12em solid #040454;
  }
  #submit {
    font-size: 1.2em;
    display: block;
    width: 50%;
    position: relative;
    margin: auto;
    padding: 1em;
    border: none;
    background: linear-gradient(#7694fe, #4c7df8);
    color: #ebf2ff;
    border-radius: 0.3em;
    cursor: pointer;
    margin-top: 2em;
  }
  .controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
  .controls button {
    display: block;
    width: 3em;
    height: 3em;
    font-size: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    color: #4c7df8;
    border: 0.12em solid #4c7df8;
    background-color: transparent;
  }